/*---------------- main---------------------*/
.app__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: "Raleway", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .wea-ther {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    list-style: none;
  }
  /*------------------Responsive-------------------------*/
  
  @media only screen and (max-width: 600px) {
    .wea-ther {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .res-grid {
      align-items: center;
      justify-content: center;
      display: grid;
    }
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }